.subject {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    width: 70%;
    background-color: #d291bc; /* Soft pink-violet */
    color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 18px;
}

.subject-card:hover {
    background-color: #8e44ad; /* Darker Violet */
}
